.AdminFixPointContainer {
  background-color: #ffffff;
  width: calc(95% - 25px);
  margin: 10px auto;
  padding: 10px;
  border-radius: 16px;
}
.AdminFixPointContainer-ID-element {
  display: flex;
  align-items: center;
  padding-top: 10px;
}
.AdminFixPointContainer-ID-text {
  font-size: 12px;
  color: #828282;
}
.AdminFixPointContainer-ID-value {
  font-size: 20px;
  font-weight: 700;
}
.AdminFixPointContainer-Point-element {
  display: flex;
  align-items: center;
  margin: 0 10px 0 10px;
  padding-top: 10px;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 700;
}
.AdminFixPointContainer-Point {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 10px;
}
.AdminFixPointContainer-Point img {
  width: 48px;
  height: 48px;
}
.AdminFixPointContainer-Point input {
  width: 60%;
  height: 48px;
}
.AdminFixPointContainer-Button {
  display: flex;
  margin-left: auto;
  margin-right: 20px;
  background-color: #ff775e;
  color: #ffffff;
}
