.major-selector {
  display: flex;
}

.depart {
  width: calc(50% - 22px);
  margin-right: 22px;
}
.depart h3 {
  margin-bottom: 7px;
  text-align: left;
}
select[name="depart"] {
  display: block;
  width: 100%;
  height: 35px;
  background: white;
  border: 1px #eaeaea solid;
  border-radius: 15px;
}

.major {
  width: 100%;
}

.major h3 {
  margin-left: 0px;
}

select[name="major"] {
  display: block;
  width: 100%;
  height: 35px;
  background: white;
  border: 1px #eaeaea solid;
  border-radius: 15px;
}
