@media (max-width: 768px) {
  .container {
    background-size: cover;
  }
  .header,
  .content {
    width: 100%;
  }
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
.container {
  height: 100vh;
  width: 100vw;
  font-family: Pretendard;
  text-align: center;
  background-image: url("../images/background_iPad.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  background: #ffffff;
  width: 90%;
  margin-top: 27px;
  display: inline-block;
  border-radius: 32px;
  margin-bottom: 50px;
}

.look-button {
  background-image: linear-gradient(135deg, #ff775e, #ff4d61, #e83abc);
}

.CheckresultTopic {
  font-size: 16px;
  min-width: 50px;
  font-weight: bold;
  color: #777777;
  text-align: left;
  margin-top: 17px;
}
.CheckresultText {
  width: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  text-align: left;
  margin-top: 7px;
}
.CheckresultInstaTopic {
  font-size: 16px;

  font-weight: bold;
  color: #777777;
  margin-top: 45px;
}
.CheckresultInstaText {
  font-size: 18px;
  font-weight: bold;
  color: #ff4d61;
  margin-top: 19px;
}
.CheckresultBottom {
  margin-top: 32px;
  background-image: linear-gradient(135deg, #ff775e, #ff4d61, #e83abc);
  font-size: 16px;
  text-align: left;
  font-weight: bolder;
  color: white;
  padding-top: 18px;
  padding-left: 30px;
  padding-bottom: 5px;

  height: 30px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
}
.CheckresultInline {
  padding-left: 23px;
  padding-right: 23px;
  display: flex;
}
.CheckresultTopline {
  padding-left: 23px;
  display: flex;
}

.CheckresultInlineItem {
  margin-right: 10px;
}
