@media (max-width: 768px) {
  .container {
    background-size: cover;
  }
  .header,
  .content {
    width: 100%;
  }
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
/* styles.css */
.container {
  height: 100vh;
  width: 100vw;
  font-family: Pretendard;
  text-align: center;
  background-image: url("../images/background_iPad.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  display: flex;
  padding-top: 27px;
  justify-content: space-between;
  align-items: center;
}

.content {
  background: #ffffff;
  width: 90%;
  margin-top: 27px;
  display: inline-block;
  border-radius: 32px;
  margin-bottom: 50px;
}

.submit-button {
  margin-top: 20px;
  background-image: linear-gradient(135deg, #ff775e, #ff4d61, #e83abc);
  color: #ffffff;
  width: 100%;
  height: 89px;
  border-radius: 0 0 32px 32px;
  font-size: 24px;
  font-weight: bold;
}
.look-button {
  background-image: linear-gradient(135deg, #ff775e, #ff4d61, #e83abc);
}
