.loading-container {
  min-height: 100vh;
  font-family: Pretendard;
  text-align: center;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.loading-content {
  background: #ffffff;
  width: 90%;
  height: 400px;
  margin-top: 27px;
  display: inline-block;
  border-radius: 32px;
  padding-top: 200px;
}
.loading-content h3 {
  text-align: center;
}
.loading-submit-button {
  margin-top: -25px;
  background-image: linear-gradient(135deg, #ff775e, #ff4d61, #e83abc);
  color: #ffffff;
  width: 90%;
  height: 100px;
  border-radius: 0 0 32px 32px;
  font-size: 32px;
  font-weight: bold;
}
