.login-content {
  width: 90%;
  margin-top: 27px;
  display: inline-block;
  border-radius: 32px;
  margin-bottom: 50px;
  color: #ffffff;
}

.login-name {
  text-align: left;
  margin-top: -20px;
}

.myinfo {
  background-image: linear-gradient(135deg, #ff775e, #ff4d61, #e83abc);
  color: #ffffff;
  text-align: center;
  margin-left: 80%;
  height: 40px;
  width: 20%;
  border-radius: 20px 20px 0 0;
  font-size: 20px;
  font-weight: bold;
  z-index: 0;
  line-height: 3;
}

.matching-button {
  margin-top: 20px;
  color: #0c0c0c;
  width: 100%;
  height: 120px;
  border-radius: 32px;
  font-size: 24px;
  font-weight: bold;
  background-color: #ffffff;
  border: 2px solid #ff6b81;
}

.number-button {
  text-align: center;
  margin-top: 10px;
  color: #0c0c0c;
  width: 100%;
  height: 100%;
  border-radius: 32px;
  font-size: 15px;
  font-weight: bold;
  background-color: #ffffff;
}

.number-text {
  padding-top: 5%;
  font-size: 20px;
  margin-left: 10%;
  display: flex;
  
}

.number-text2 {
  font-size: 30px;
  margin-left: 10%;
}

.number-bottom {
  padding-bottom: 10px;
}

.number-button-opport {
  margin-left: 45px;
}

.number-matching-group {
  display: flex;
  justify-content: space-between;
  margin-right: 10%;
}

.number-charge {
  background-image: linear-gradient(135deg, #ff775e, #ff4d61, #e83abc);
  color: #ffffff;
  text-align: center;
  height: 40px;
  width: 40%;
  border-radius: 10px 10px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 30%;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.button-group-search {
  text-align: center;
  margin-top: 10px;
  width: 90%;
  height: 150px;
  background-color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 32px;
  margin-right: 2.5%;
}

.button-group-guide {
  text-align: center;
  margin-top: 10px;
  width: 90%;
  height: 150px;
  background-color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 32px;
  margin-left: 2.5%;
}

.main-guideImage2 {
  margin-top: 10%;
}

.MainLoginTopic {
  font-size: 16px;
  font-weight: bold;
  color: #777777;
  text-align: left;
  margin-top: 17px;
}

.MainLoginText {
  min-width: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  text-align: left;
  margin-top: 7px;
}

.MainLoginBottom {
  margin-top: 5px;
  background-image: linear-gradient(135deg, #ff775e, #ff4d61, #e83abc);
  font-size: 16px;
  text-align: left;
  font-weight: bolder;
  color: white;
  padding-top: 18px;
  padding-left: 30px;
  padding-bottom: 5px;

  height: 30px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
}
.MainLoginInline {
  width: 100%;
  padding-top: 5px;
  padding-left: 23px;
  padding-right: 23px;
  display: flex;
}

.MainLoginTopline {
  width: 100%;
  padding-top: 5px;
  padding-left: 23px;
  display: flex;
}

.MainLoginInlineItem {
  margin-right: 5%;
  width: 50%;
  height: 70px;
}

.MainLoginInlineItem2 {
  margin-right: 5%;
  height: 70px;
}

.MainLoginItem {
  background: #ffffff;
  width: 100%;
  border-radius: 32px 0 32px 32px;
  height: 200px;
}