.matchcontent {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.75);
  width: 90%;
  margin: auto;
  display: inline-block;
  border-radius: 32px;
  margin-top: 25px;
  margin-bottom: 50px;
  position: relative;

  padding: 31px 0px;
}

.mcaotext {
  margin-left: 47px;
  margin-bottom: 7px;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
}

.match-title {
  font-size: 44px;
  font-weight: bold;
  letter-spacing: 0;
  text-align: left;
  line-height: normal;
}

.match-title-text {
  color: #000000;
  font-family: "Pretendard-Bold", Helvetica;
  font-size: 36px;
  font-weight: 700;
  height: 29px;
  position: relative;

  padding: 0 32px 0 32px;
}

.match-title-inst-txt {
  color: #858585;
  font-family: "Pretendard-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  height: 5px;
  position: relative;
  margin-top: 20px;
  margin-bottom: 32px;

  padding: 0 32px 0 32px;
}

.match-mbtidiv {
  display: flex;
  justify-content: center;
}

.match-mbtibutton-container {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  width: 100%;

  padding: 32px;
}

.match-mbtibutton-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.match-mbtibutton {
  width: 100%;
  height: 54px;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 700;
  font-size: 20px;
  margin: 0px 6px 10px 6px;
  border-radius: 30px;
  background-color: #ffffff;
  color: #a5a5a5;
  border: 2px solid #e0e0e0;
}

input[name="passwd"] {
  width: 87%;
  height: 89px;
  margin-top: 31px;
  padding: 10px 8px 0px 8px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 30px;
  text-align: center;
}
input::placeholder {
  color: #a5a5a5;
}

.button-group label {
  margin-right: 10px;
}

button[type="submit-button"] {
  margin-top: 25px;
  background-image: linear-gradient(135deg, #ff775e, #ff4d61, #e83abc);
  color: #ffffff;
  width: 100%;
  height: 89px;
  border-radius: 0 0 32px 32px;
  font-size: 32px;
  font-weight: bold;
}

.button-blank {
  width: 30%;
}

.match-inner-content {
  opacity: 1;
  margin-top: 10px;
}
.match-premium-option {
  display: flex;
  justify-content: space-between;
}
.match-premium-option-right {
  display: flex;
  align-items: center;
  margin-right: 42px;
}
.match-premium-option-cost {
  display: flex;
  align-items: center;
  font-size: 32px;
  background-color: #ffffff;
  border-radius: 36px;
  padding: 8px 32px;
  height: 48px;
  margin-right: 16px;
}
.match-premium-option-cost img {
  height: 48px;
  margin-right: 8px;
}
.match-premium-option-unclick-button {
  text-align: center;
  background-color: #ff775e;
  font-size: 48px;
  height: 64px;
  width: 64px;
  color: #ffffff;
  border-radius: 100px;
  padding: 0px;
}
.match-premium-option-click-button {
  text-align: center;
  background-color: #ffffff;
  font-size: 48px;
  height: 64px;
  width: 64px;
  color: #ffffff;
  border-radius: 100px;
  padding: 0px;
}
.match-hobby-grid {
  display: grid;
  grid-template-columns: repeat(
    5,
    1fr
  ); /* 각 행에 3개의 아이템이 올 수 있도록 */
  padding: 20px;
}
.match-select-button {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}
.match-point-remaining {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 36px;
  width: 213px;
  height: 45px;
  font-size: 24px;
  font-weight: bold;
  padding: 0px 32px;
}
.match-point-remaining img {
  width: 24px;
  height: 24px;
  margin: 0px 8px;
}
.match-header {
  display: flex;
  padding-top: 27px;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}
