.inner-content {
  opacity: 1;
  padding: 32px;
  margin-top: 10px;
  margin-bottom: 44px;
}

.result-title {
  font-size: 44px;
  font-weight: bold;
  margin-bottom: 20px;
  letter-spacing: 0;
  text-align: left;
  line-height: normal;
}

.result-title-text {
  color: #000000;
  font-family: "Pretendard-Bold", Helvetica;
  font-size: 36px;
  font-weight: 700;
  height: 29px;
  position: relative;
}

.result-title-inst-txt {
  color: #858585;
  font-family: "Pretendard-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  height: 5px;
  position: relative;
  margin-top: 20px;
  margin-bottom: 32px;
}

.MatchresultTopic {
  font-size: 22px;
  font-weight: bold;
  color: #777777;
  text-align: left;
  margin-top: 24px;
  opacity: 0;
  animation: fadeIn 1s ease forwards 1s;
}
.MatchresultText {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  text-align: left;
  margin-left: 18px;
  margin-top: 8px;
  animation: fadeIn 0.7s ease;
}
.MatchresultInstaTopic {
  font-size: 24px;
  font-weight: bold;
  color: #777777;
  margin-top: 45px;
}
.MatchresultMbtitext {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  text-align: left;
  margin-left: 18px;
  margin-top: 8px;
}
.MatchresultInstaText {
  font-size: 24px;
  font-weight: bold;
  color: #ff4d61;
  margin-top: 8px;
  margin-bottom: 32px;
}
.Retry_button {
  background-image: linear-gradient(135deg, #ff775e, #ff4d61, #e83abc);
  font-size: 22px;
  width: 100%;
  font-weight: bold;
  color: white;
  height: 89px;
  border-radius: 0 0 32px 32px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(0, 70%);
  margin-bottom: 50px;
}
.matchresult-content {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.75);
  width: 90%;
  margin: auto;
  display: inline-block;
  border-radius: 32px;
  margin-top: 25px;
  margin-bottom: 50px;
  position: relative;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
