@media (max-width: 768px) {
  .container {
    background-size: cover;
  }
  .header,
  .content {
    width: 100%;
  }
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
.container {
  height: 100vh;
  width: 100vw;
  font-family: Pretendard;
  text-align: center;
  background-image: url("../images/background_iPad.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  background: #ffffff;
  width: 90%;
  margin-top: 27px;
  display: inline-block;
  border-radius: 32px;
  margin-bottom: 50px;
}

.look-button {
  background-image: linear-gradient(135deg, #ff775e, #ff4d61, #e83abc);
}
.McaotmcapresultTop {
  background-image: linear-gradient(135deg, #e83abc, #ff4d61, #ff775e);
  font-size: 30px;
  padding-top: 27px;
  font-weight: bolder;
  color: white;
  height: 58px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
}

.McaotmcapresultTopic {
  font-size: 40px;
  font-weight: bold;
  color: #777777;
  text-align: left;
  margin-left: 41px;
  margin-top: 32px;
}
.McaotmcapresultText {
  font-size: 30px;
  font-weight: bold;
  color: #000000;
  text-align: left;
  margin-left: 66px;
  margin-top: 23px;
}
.McaotmcapresultInstaTopic {
  font-size: 40px;
  font-weight: bold;
  color: #777777;
  margin-top: 45px;
}
.McaotmcapresultMbtitext {
  font-size: 40px;
  font-weight: bold;
  color: #000000;
  text-align: left;
  margin-left: 90px;
  margin-top: 23px;
}
.McaotmcapresultInstaText {
  font-size: 40px;
  font-weight: bold;
  color: #ff4d61;
  margin-top: 19px;
}
.McaotmcapresultBottom {
  background-image: linear-gradient(135deg, #ff775e, #ff4d61, #e83abc);
  font-size: 30px;
  padding-top: 27px;
  font-weight: bolder;
  color: white;
  height: 58px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
}
